<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Formulario de Pago: Biblioteca Virtual</title>
    <link rel="icon" href="../public/external/logo.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: black;
        background-color: rgba(24, 24, 27, 1);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
      <link href="../css/factura.css" rel="stylesheet" />
      <script>
        function volverInicio() {
            window.location.href = '../index.html';
        }
        function atras() {
            window.location.href = './libro_venvidos.html';
        }
       
      </script>
  </head>
  <body>
  
    <div>
     

      <div class="payment-form-container" >
        <div class="payment-form-container1">
          <div class="payment-form-brand" >
            <img
              onclick="volverInicio()"
              src="../public/external/vector1365-qpie.svg"
              alt="Vector1365"
              class="payment-form-vector"
            />
            <span class="payment-form-text">
              <span>Formulario de Pago</span>
            </span>
          </div>
          <img
            onclick="atras()"
           
            src="../public/external/vector1366-cf14.svg"
            alt="Vector1366"
            class="payment-form-vector1"
          />
        </div>
        <div class="payment-form-payment-form">
          <div class="payment-form-selling-book-payment">
            <div class="payment-form-group22"></div>
            <br/>
            <br/>
            <span class="payment-form-text002">
              <span>Bienvenido a la Biblioteca Virtual</span>
              <br />
              <span>¡Gracias por elegir nuestra biblioteca virtual!</span>
            </span>
            <span class="payment-form-text006">
              <span></span>
              <br />
              <span>
                Estamos comprometidos a proporcionarte acceso a una amplia
                variedad de libros y recursos digitales para apoyarte en tu
                aprendizaje y entretenimiento.
              </span>
              <br />
              <span>
                Antes de completar tu pago, por favor, llena el siguiente
                formulario con la información requerida. Asegúrate de revisar
                todos los datos antes de enviar el formulario para garantizar
                una transacción segura y exitosa.
              </span>
              <br />
              <span>
                Si tienes alguna pregunta o necesitas asistencia durante el
                proceso, no dudes en ponerte en contacto con nuestro equipo de
                soporte a través del correo electrónico
                soporte@bibliotecavirtual.com.
              </span>
            </span>
          </div>
          <div class="payment-form-property1-comprehensive-steps-single-image">
            <div class="payment-form-group23">
              <div class="payment-form-property1-list-form-boxed">
                <div class="payment-form-group20">
                  <span class="payment-form-text014">
                    <span>Confirme su información:</span>
                  </span>
                  <div class="payment-form-group9">
                    <span class="payment-form-text016">
                      <span>Primer Nombre:</span>
                    </span>
                   
                    
                      <span class="payment-form-text022">
                        <input type="text" class="payment-form-group81" type="radio" id="primerNombre" placeholder="  Primer Nombre"  readonly>
                      </span>
                    
                  </div>
                  <div class="payment-form-group11">
                    <span class="payment-form-text024">
                      <span>Primer Apellido:</span>
                    </span>
                    
                      <span class="payment-form-text026">
                        <input type="text" class="payment-form-group82" type="radio" id="primerApellido" placeholder="  Primer Apellido"  readonly>
                       </span>
                    
                  </div>
                  <div class="payment-form-group10">
                    <span class="payment-form-text028">
                      <span>Segundo Nombre:</span>
                    </span>
                      <span class="payment-form-text030">
                        <input type="text" class="payment-form-group83" type="radio" id="segundoNombre" placeholder="  Segundo Nombre"  readonly>
                      </span>
                  </div>
                  <div class="payment-form-group13">
                    <span class="payment-form-text032">
                      <span>Segundo Apellido:</span>
                    </span>
                      <span class="payment-form-text034">
                        <input type="text" class="payment-form-group84" type="radio" id="segundoApellido" placeholder="  Segundo Apellido"  readonly>
                      </span>
                   
                  </div>
                  <div class="payment-form-group15">
                    <span class="payment-form-text036">
                      <span>Teléfono:</span>
                    </span>
                      <span class="payment-form-text038">
                        <input type="text" class="payment-form-group85" type="radio" id="telefono" placeholder="  +504 0000 0000"  readonly>
                      </span>
                    
                  </div>
                  <span class="payment-form-text040"><span>Email:</span></span>
                  <span class="payment-form-text042">
                    <span>Contraseña:</span>
                  </span>
                    <span class="payment-form-text044">
                      <input type="text" class="payment-form-group17" type="radio" id="correo" placeholder="usuario@gmail.com"  required>
                    </span>
                    <span class="payment-form-text046">
                        <input type="password" class="payment-form-group18" type="password" id="contraseña" placeholder=" ***************************"  required>
                    </span>
                  <span class="payment-form-text048">
                    <span>Membresía:</span>
                  </span>
                  <span class="payment-form-text050">
                    <span>Método de Pago:</span>
                  </span>
                  <span class="payment-form-text052">
                    <span>Platinum</span>
                  </span>
                  <input id="radio" type="radio" class="payment-form-group19" name="opcionesMembresia" value="Platinum" disabled>
                  <span class="payment-form-text054"><span>Premium</span></span>
                  <div class="payment-form-group201">
                    <input type="radio" id="radio" name="opcionesMembresia" class="payment-form-rectangle8" value="Premium" disabled>
                    <input type="radio" id="radio" name="opcionesMembresia" class="payment-form-rectangle81" value="Basica" disabled>
                    <span class="payment-form-text056">
                      <span>Básica</span>
                    </span>
                  </div>
                  <div class="payment-form-group21">
                    <input type="radio" name="opcionesPago" class="payment-form-rectangle82" value="transferencia" required>
                    
                    <span class="payment-form-text058">
                      <span>PayPal</span>
                    </span>
                    <span class="payment-form-text060">
                      <span>Transferencia</span>
                    </span>
                    <input type="radio" name="opcionesPago" class="payment-form-rectangle83" value="paypal" required>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-form-heading-wrapper">
              <div class="payment-form-group211">
                <div class="payment-form-group151">
                  <span class="payment-form-text062"><span>Libro:</span></span>
                 
                  <input type="checkbox" name="option1" value="option1" class="checkbox-input">
                 
                    <span class="payment-form-text064">
                      <input type="text" class="payment-form-group86" type="radio" id="nombreLibro" placeholder=" Nombre de Libro"  readonly>
                    </span>
                </div>
                <span class="payment-form-text066"><span>ISBN:</span></span>
                <span class="payment-form-text068"><span>Cantidad:</span></span>
                <span class="payment-form-text070">
                  <span>Precio Unitario:</span>
                </span>
                  <input type="text" class="payment-form-group171" type="radio" id="isbn" placeholder=" ISBN"  readonly>
                  <input type="text" class="payment-form-group181" type="radio" id="cantidadLibro" placeholder=" 0"  readonly>
                  <input type="text" class="payment-form-group202" type="radio" id="precioUnitario" placeholder=" 0.00"  readonly>
                
                <span class="payment-form-text077">
                  <span>Total a Pagar:</span>
                </span>
                <span class="payment-form-text079">
                  <span>
                    Al realizar este pago, acepto los términos y condiciones de
                    uso de la biblioteca virtual.
                  </span>
                </span>
                <div class="payment-form-group191">
                </span>
                <input type="text" class="payment-form-rectangle84" type="radio" id="total" placeholder=" 0.00"  readonly>
                </div>
                <div class="payment-form-group16">
               
                    
                    <button class="button" type="submit" onclick="getValores()" >Efectuar Compra</button>
               
                  
                </div>
              </div>
            </div>
          </div>
          <div class="payment-form-type-simple-subscription-footerwith-divider">
            <div class="payment-form-content">
              <div class="payment-form-column">
                <div class="payment-form-logo">
                  <div class="payment-form-logo1"></div>
                </div>
                <div class="payment-form-links">
                  <span class="payment-form-text085">
                    <span>Acerca de</span>
                  </span>
                  <span class="payment-form-text087">
                    <span>Servicios</span>
                  </span>
                  <span class="payment-form-text089">
                    <span>LinkedIn</span>
                  </span>
                  <span class="payment-form-text091">
                    <span>Contácto</span>
                  </span>
                </div>
              </div>
              <div class="payment-form-brand1">
                <img
                  src="../public/external/icon1351-ywdp.svg"
                  alt="Icon1351"
                  class="payment-form-icon"
                />
                <span class="payment-form-text093">
                  <span>Biblioteca Virtual</span>
                </span>
              </div>
            </div>
            <div class="payment-form-credits">
              <img
                src="../public/external/divider1351-p5ka-200h.png"
                alt="Divider1351"
                class="payment-form-divider"
              />
              <div class="payment-form-row">
                <div class="payment-form-footer-links">
                  <span class="payment-form-text095">
                    <span>Política de Privacidad</span>
                  </span>
                  <span class="payment-form-text097">
                    <span>Términos de Servicio</span>
                  </span>
                  <span class="payment-form-text099">
                    <span>Configuración de Cookies</span>
                  </span>
                </div>
                <span class="payment-form-text101">
                  <span>
                    © 2024 Biblioteca Virtual. Todos los derechos reservados.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../Js/factura.js"></script>
  </body>
</html>
