
body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: black;
}
#container1{
    
    width: 100%;
    display: flex;
    margin: 0%;
}

#container1 .item1{
    margin-top:45px;
    margin-left:20px;
}
#container1 .item2{
    margin-top: 20px;
    margin-left:350px;
}
#container1 .item3{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 50px;

}
#container1 .item4{
    margin-top: 20px;
    margin-left: 300px;
}

#container2 {
    width: 100%;
    display: flex;
    margin: 0%;
}

#container2 .item1{
    margin-top: 50px;
    margin-left: 500px ;
    color: rgba(249, 168, 4, 1);
    font-size: 50px;
}


#books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 50px;
}

.book img {
    margin-top: 50px;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.book-title {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.book button {
    margin-top: auto;
    width: 150px;
    height: 53px;
    background: rgba(249,168,4,1);
    opacity: 1;
    border: 1px solid rgba(249,168,4,1);
    border-radius: 20px;
    overflow: hidden;
    transition: 
        width 0.3s, 
        height 0.3s, 
        background-color 0.3s,
        transform 0.1s; 
    color: black;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.book button:hover {
    width: 155px; 
    height: 53px; 
    background: rgb(245, 185, 66); 
    border: 1px solid rgb(247, 190, 77); 
  }
 .book  button:active {
    transform: scale(0.95); 
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2); 
  }
