<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Biblioteca Virtual</title>
    <link rel="icon" href="./public/external/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />

    <script>
      function irInicioLibros() {
          window.location.href = './html/libros.html';
  
      }
      function irLogin() {
            window.location.href = './html/login.html';
            
        }
      function abrirReportesPowerBI(){
            window.location.href = './html/Reporte.html';
      }
  </script>


  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="./index.css" rel="stylesheet" />

      <div class="virtual-library-container">
        <div class="virtual-library-virtual-library">
          <div
            class="virtual-library-type-dark-lightbubbleheaderforportfolionavigation"
          >
            <div class="virtual-library-bubble-container">
              <div class="virtual-library-nav-links">
                <div class="virtual-library-nav-link">
                  <span  onclick="irLogin()" class="virtual-library-text"><span>Inicio</span></span>
                </div>
                <div class="virtual-library-nav-link1">
                  <span class="virtual-library-text002">
                    <span>Recursos</span>
                  </span>
                </div>
                <div class="virtual-library-nav-link2">
                  <span class="virtual-library-text004">
                    <span>Servicios</span>
                  </span>
                </div>
              </div>
              <div class="virtual-library-brand">
                <a href="#inicioBiblioteca" >
                  <img
                  src="public/external/icon820-ina.svg"
                  alt="Icon820"
                  class="virtual-library-icon"
                /></a>
                <span class="virtual-library-text010">
                  <span>Biblioteca Virtual</span>
                </span>
              </div>
              <div class="virtual-library-nav-links1">
                <div class="virtual-library-nav-link3">
                  <span class="virtual-library-text006">
                    <a href="#contactanos"><span>Contacto</span></a>
                  </span>
                </div>
                <div class="virtual-library-nav-link4">
                  <span class="virtual-library-text008">
                    <span>Eventos</span>
                  </span>
                </div>
              </div>
              
            </div>
          </div>
          <div
            class="virtual-library-type-simple-title-with-descriptionand-ct-aon-left-large-hor"
          id="inicioBiblioteca"
            >
            <div class="virtual-library-container1">
              <div class="virtual-library-column">
                <div class="virtual-library-content">
                  <div class="virtual-library-content1">
                    <span class="virtual-library-text012">
                      <span>Bienvenido a nuestra Biblioteca Virtual</span>
                    </span>
                    <span class="virtual-library-text014">
                      <span>
                        Explora una amplia variedad de recursos académicos y
                        servicios
                      </span>
                    </span>
                  </div>
                  <button class="virtual-library-button-combo"></button>
                  

                  <span class="virtual-library-text016">
                    <button type="button" class="virtual-library-cta-button">Explorar Ahora</button>
                  </span>
              
                  <span class="virtual-library-text018">
                    <button type="button" class="virtual-library-secondary-button">Más Información</button>
                  </span>
                  

                </div>
              </div>
              <div class="virtual-library-content2">
                <div class="virtual-library-row">
                  <img
                    src="public/external/imagelummi843-fp-500w.png"
                    alt="Imagelummi843"
                    class="virtual-library-imagelummi"
                  />
                  <img
                    src="public/external/image29556-nmfa-400h.png"
                    alt="image29556"
                    class="virtual-library-image2"
                  />
                  <img
                    src="public/external/imagelummi845-3zon-500w.png"
                    alt="Imagelummi845"
                    class="virtual-library-imagelummi1"
                  />
                </div>
                <div class="virtual-library-row1">
                  <img
                    src="public/external/image49564-0ks-200w.png"
                    alt="image49564"
                    class="virtual-library-image4"
                  />
                  <img
                    src="public/external/image69572-1kgo-300h.png"
                    alt="image69572"
                    class="virtual-library-image6"
                  />
                  <img
                    src="public/external/image59566-yojr-400h.png"
                    alt="image59566"
                    class="virtual-library-image5"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="virtual-library-type-two-column-big-image-statement">
            <div class="virtual-library-wrapper">
              <div class="virtual-library-text-content">
                <span class="virtual-library-text020">
                  <span>Nuestra Misión</span>
                </span>
                <span class="virtual-library-text022">
                  <span>
                    Proveer acceso fácil y rápido a recursos académicos y
                    servicios bibliotecarios de calidad
                  </span>
                </span>
              </div>
              <img
                src="public/external/image99580-6opx-600w.png"
                alt="image99580"
                class="virtual-library-image9"
              />
            </div>
          </div>
          <div
            class="virtual-library-type-titlewith-description-gridof-sixcentered-benefits"
          >
            <div class="virtual-library-content3">
              <div class="virtual-library-heading-container">
                <div class="virtual-library-heading-text">
                  <span class="virtual-library-text024">
                    <span>Destacados</span>
                  </span>
                  <span class="virtual-library-text026">
                    <span>Libros Electrónicos</span>
                  </span>
                </div>
                <span class="virtual-library-text028">
                  <span>
                    Accede a miles de títulos de libros electrónicos en diversas
                    categorías.
                  </span>
                </span>
              </div>
              <div class="virtual-library-feature-grid">
                <div class="virtual-library-feature">
                  <div class="virtual-library-icon-container">
                    <img
                      src="public/external/bg2414-1dr-200h.png"
                      alt="Bg2414"
                      class="virtual-library-bg"
                    />
                    <img
                      src="public/external/iconicon2415-o6iqp.svg"
                      alt="Iconicon2415"
                      class="virtual-library-iconicon"
                    />
                  </div>
                  <div class="virtual-library-text-container02">
                    <span class="virtual-library-text030">
                      <span>Bases de Datos</span>
                    </span>
                    <span class="virtual-library-text032">
                      <span>
                        Encuentra artículos y publicaciones científicas de
                        acceso libre y suscripción.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature1">
                  <div class="virtual-library-icon-container1">
                    <img
                      src="public/external/bg2422-0mar-200h.png"
                      alt="Bg2422"
                      class="virtual-library-bg1"
                    />
                    <img
                      src="public/external/iconicon2423-o0j8h.svg"
                      alt="Iconicon2423"
                      class="virtual-library-iconicon01"
                    />
                  </div>
                  <div class="virtual-library-text-container03">
                    <span class="virtual-library-text034">
                      <span>Revistas Académicas</span>
                    </span>
                    <span class="virtual-library-text036">
                      <span>
                        Consulta las revistas más recientes y relevantes en tu
                        área de estudio.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature2">
                  <div class="virtual-library-icon-container2">
                    <img
                      src="public/external/bg2430-o0t-200h.png"
                      alt="Bg2430"
                      class="virtual-library-bg2"
                    />
                    <img
                      src="public/external/iconicon2431-px7.svg"
                      alt="Iconicon2431"
                      class="virtual-library-iconicon02"
                    />
                  </div>
                  <div class="virtual-library-text-container04">
                    <span class="virtual-library-text038">
                      <span>Biblioteca Digital</span>
                    </span>
                    <span class="virtual-library-text040">
                      <span>
                        Accede a nuestra colección digital desde cualquier lugar
                        y dispositivo.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature3">
                  <div class="virtual-library-icon-container3">
                    <img
                      src="public/external/bg2438-6j1a-200h.png"
                      alt="Bg2438"
                      class="virtual-library-bg3"
                    />
                    <img
                      src="public/external/iconicon2439-rchj.svg"
                      alt="Iconicon2439"
                      class="virtual-library-iconicon03"
                    />
                  </div>
                  <div class="virtual-library-text-container05">
                    <span class="virtual-library-text042">
                      <span>Préstamo de Libros</span>
                    </span>
                    <span class="virtual-library-text044">
                      <span>
                        Solicita el préstamo de libros físicos y recíbelos en tu
                        domicilio.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature4 click" data-url="./html/agregarLibros.html">
                  <div class="virtual-library-icon-container4">
                    <img
                      src="public/external/bg2446-e2hb-200h.png"
                      alt="Bg2446"
                      class="virtual-library-bg4"
                    />
                    <img
                      src="public/external/iconicon2447-jd5.svg"
                      alt="Iconicon2447"
                      class="virtual-library-iconicon04"
                    />
                  </div>
                  <div class="virtual-library-text-container06">
                    <span class="virtual-library-text046">
                      <span>Venta de Libros</span>
                    </span>
                    <span class="virtual-library-text048">
                      <span>
                        Compra libros nuevos y usados a precios competitivos.
                      </span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature5">
                  <div class="virtual-library-icon-container5">
                    <img
                      src="public/external/bg2454-ax0b-200h.png"
                      alt="Bg2454"
                      class="virtual-library-bg5"
                    />
                    <img
                      src="public/external/iconicon2455-4cdo.svg"
                      alt="Iconicon2455"
                      class="virtual-library-iconicon05"
                    />
                  </div>
                  <div class="virtual-library-text-container07">
                    <span class="virtual-library-text050">
                      <span>Acceso Remoto</span>
                    </span>
                    <span class="virtual-library-text052">
                      <span>
                        Utiliza nuestros recursos desde la comodidad de tu
                        hogar.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="virtual-library-property1-comprehensive-steps-single-image"
          >
            <div class="virtual-library-heading-wrapper">
              <div class="virtual-library-heading-container1">
                <div class="virtual-library-copy-component">
                  <div class="virtual-library-heading-text1">
                    <span class="virtual-library-text054">
                      <span>Cómo funciona</span>
                    </span>
                    <span class="virtual-library-text056">
                      <span>
                        Descubre cómo utilizar nuestros servicios en pocos
                        pasos.
                      </span>
                    </span>
                  </div>
                 
                      <span class="virtual-library-text058">
                        <button type="submit" class="virtual-library-cta-button1">Comenzar Ahora</button>
                    
                
                </div>
                <img
                  src="public/external/image89578-egx-400h.png"
                  alt="image89578"
                  class="virtual-library-image8"
                />
              </div>
            </div>
            <div class="virtual-library-steps-wrapper">
              <div class="virtual-library-howit-works-grid">
                <div class="virtual-library-step">
                  <img
                    src="public/external/iconicon8126-xkz7.svg"
                    alt="Iconicon8126"
                    class="virtual-library-iconicon06"
                  />
                  <span class="virtual-library-text060">
                    <span>Registro Rápido</span>
                  </span>
                  <span class="virtual-library-text062">
                    <span>
                      Crea una cuenta para acceder a todos los servicios.
                    </span>
                  </span>
                </div>
                <div class="virtual-library-step1">
                  <img
                    src="public/external/iconicon8131-3zph.svg"
                    alt="Iconicon8131"
                    class="virtual-library-iconicon07"
                  />
                  <span class="virtual-library-text064">
                    <span>Búsqueda Avanzada</span>
                  </span>
                  <span class="virtual-library-text066">
                    <span>
                      Utiliza filtros y categorías para encontrar lo que
                      necesitas.
                    </span>
                  </span>
                </div>
                <div class="virtual-library-step2">
                  <img
                    src="public/external/iconicon8136-9tcp.svg"
                    alt="Iconicon8136"
                    class="virtual-library-iconicon08"
                  />
                  <span class="virtual-library-text068">
                    <span>Préstamos y Reservas</span>
                  </span>
                  <span class="virtual-library-text070">
                    <span>Solicita y reserva libros fácilmente en línea.</span>
                  </span>
                </div>
                <div class="virtual-library-step3">
                  <img
                    src="public/external/iconicon8141-ooln.svg"
                    alt="Iconicon8141"
                    class="virtual-library-iconicon09"
                  />
                  <span class="virtual-library-text072">
                    <span>Soporte Técnico</span>
                  </span>
                  <span class="virtual-library-text074">
                    <span>
                      Obtén ayuda con cualquier problema técnico o consulta.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="virtual-library-property1-single-testimonial">
            <span class="virtual-library-text076">
              <span>
                “La biblioteca virtual ha sido una herramienta invaluable para
                mis estudios.”
              </span>
            </span>
            <div class="virtual-library-author">
              <img
                src="public/external/image19548-ozsm-200h.png"
                alt="image19548"
                class="virtual-library-image1"
              />
              <div class="virtual-library-author-info">
                <span class="virtual-library-text078">
                  <span>Alex Turner</span>
                </span>
                <span class="virtual-library-text080">
                  <span>Estudiante, Universidad Autonoma de Honduras</span>
                </span>
              </div>
            </div>
          </div>
          <div class="virtual-library-property1-list-form-boxed" id="contactanos">
            <div class="virtual-library-container2">
              <div class="virtual-library-columnleft">
                <div class="virtual-library-copy">
                  <span class="virtual-library-text082">
                    <span >Contáctanos</span>
                  </span>
                  <span class="virtual-library-text084">
                    <span>Estamos aquí para ayudarte</span>
                  </span>
                </div>
                <div class="virtual-library-feature01">
                  <img
                    src="public/external/iconicon8159-8u8.svg"
                    alt="Iconicon8159"
                    class="virtual-library-iconicon10"
                  />
                  <div class="virtual-library-feature-copy">
                    <span class="virtual-library-text086">
                      <span>Correo Electrónico</span>
                    </span>
                    <span class="virtual-library-text088">
                      <span>contacto@biblioteca.com</span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature011">
                  <img
                    src="public/external/iconicon8165-ddag.svg"
                    alt="Iconicon8165"
                    class="virtual-library-iconicon11"
                  />
                  <div class="virtual-library-feature-copy1">
                    <span class="virtual-library-text090">
                      <span>Teléfono</span>
                    </span>
                    <span class="virtual-library-text092">
                      <span>+504 0000 0000</span>
                    </span>
                  </div>
                </div>
                <div class="virtual-library-feature012">
                  <img
                    src="public/external/iconicon8171-cuwc.svg"
                    alt="Iconicon8171"
                    class="virtual-library-iconicon12"
                  />
                  <div class="virtual-library-feature-copy2">
                    <span class="virtual-library-text094">
                      <span>Dirección</span>
                    </span>
                    <span class="virtual-library-text096">
                      <span>
                        Comayagua, Comayagua, Honduras; Centro Universitario
                        Regional del Centro
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="virtual-library-columnright">
                <div class="virtual-library-input">
                  <span class="virtual-library-text098">
                    <span>Nombre:</span>
                  </span>
                  <input type="text" class="virtual-library-input-form" type="radio" id="nombreMensaje" placeholder="Nombre"  required>
                </div>
                <div class="virtual-library-input1">
                  <span class="virtual-library-text102">
                    <span>Correo Electrónico:</span>
                  </span>
                  <input type="text" class="virtual-library-input-form1" type="radio" id="correoMensaje" placeholder="usuario@gmail.com"  required>
                  <div class="">
                  </div>
                </div>
                <div class="virtual-library-input2">
                  <span class="virtual-library-text106">
                    <span>Mensaje:</span>
                  </span>
                  <input type="text" class="virtual-library-input-form2" type="radio" id="mensajeMensaje" placeholder="Expresa tu opinio."  required>
                  <div class="">
                  </div>
                </div>
                <span class="virtual-library-text110">
                  <button type="submit" class="virtual-library-button">Enviar</button>
                </span>
                
              </div>
            </div>
          </div>
          <div
            class="virtual-library-type-simple-subscription-footerwith-divider"
          >
            <div class="virtual-library-content4">
              <div class="virtual-library-column1">
                <div class="virtual-library-logo">
                  <div class="virtual-library-logo1"></div>
                </div>
                <div class="virtual-library-links">
                  <span class="virtual-library-text112">
                    <span>Acerca de</span>
                  </span>
                  <span class="virtual-library-text114">
                    <span>Servicios</span>
                  </span>
                  <span class="virtual-library-text116">
                    <span>LinkedIn</span>
                  </span>
                  <span class="virtual-library-text118">
                    <span>Contácto</span>
                  </span>
                </div>
              </div>
              <div class="virtual-library-actions">
                <span class="virtual-library-text120">
                  <span>Suscríbete</span>
                </span>
                <div class="virtual-library-form">
                  <input
                    type="text"
                    placeholder="Introduce tu correo"
                    class="virtual-library-text-input"
                  />
                   
                    <span class="virtual-library-text122">
                      <button type="submit" class="virtual-library-button1">Suscribete</button>
                    </span>
                
                </div>
                <span class="virtual-library-text124">
                  <span>
                    Al suscribirte, aceptas nuestra Política de Privacidad
                  </span>
                </span>
              </div>
              <div class="virtual-library-brand1">
                <a href="#inicioBiblioteca" >
                 <img
                  src="public/external/icon9228-q659.svg"
                  alt="Icon9228"
                  class="virtual-library-icon1"
                /> </a>
                <span class="virtual-library-text126">
                  <span>Biblioteca Virtual</span>
                </span>
              </div>
            </div>
            <div class="virtual-library-credits">
              <img
                src="public/external/divider8218-2utv-200h.png"
                alt="Divider8218"
                class="virtual-library-divider"
              />
              <div class="virtual-library-row2">
                <div class="virtual-library-footer-links">
                  <span class="virtual-library-text128">
                    <span>Política de Privacidad</span>
                  </span>
                  <span onclick="abrirReportesPowerBI()" class="virtual-library-text130">
                    <span>Reportes Internos</span>
                  </span>
                  <span class="virtual-library-text132">
                    <span>Configuración de Cookies</span>
                  </span>
                </div>
                <span class="virtual-library-text134">
                  <span>
                    © 2024 Biblioteca Virtual. Todos los derechos reservados.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./Js/index.js"></script>
  </body>
</html>
